div{
    height: 300px;
    width: 300px;
    background-color: aqua;
    position: relative;
    top: 0;
    left: 100px;
    
}
.d1{
    background-color: blueviolet;
    height: 500px;
    width: 400px;
    z-index:-1;
}