.greetings{
    height: 200%;
    width: 40%;
    border: 2px solid black;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 42px;
    font-weight: 50px;
    color: yellowgreen;
    margin-left: 250px;
    margin-top: 250px;
} 

.gett{

    height: 50%;
    width: 30%;
    margin-left: 250px;
    margin-top: 250px;
    padding-left: 250px;
    padding-right: 250px;

}